<template>
<div class="row">
    <div class="row mt-3">
        <div class="col-sm-12">
            <label
                    class="form-label"
                    for="search-input"
                    id="search-label">Rechercher une colonne par nom</label>
            <div class="col  flex justify-content-between">
                <input
                        class="form-control"
                        id="search-input"
                        type="text"
                        value.bind="searchText"
                        aria-describedby="search-label"
                />
                <button type="button" click.trigger="search($event)" class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-2 rounded-r-lg border border-blue-600 flex items-center">
                    <svg fill="#ffff" height="24px" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" stroke="#ffff">
<g id="SVGRepo_bgCarrier" stroke-width="0"/>
<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
<g id="SVGRepo_iconCarrier"> <g> <g> <path d="M281.1,0c-127.318,0-230.9,103.582-230.9,230.9c0,45.12,13.019,87.25,35.483,122.853l-70.654,70.654 c-20.039,20.039-20.039,52.527,0,72.564c20.039,20.039,52.527,20.039,72.564,0l70.654-70.654 c35.605,22.464,77.735,35.483,122.853,35.483c127.318,0,230.9-103.582,230.9-230.9S408.42,0,281.1,0z M281.1,410.489 c-99.025,0-179.589-80.564-179.589-179.589S182.074,51.311,281.1,51.311S460.689,131.875,460.689,230.9 S380.127,410.489,281.1,410.489z"/> </g> </g> </g>
</svg>
                </button>
            </div>

        </div>
    </div>
    <div class="row mt-3" if.bind="pagination.pageCount > 0">
        <div class="col-sm-12">
            <p>${'Page : '+(pagination.page + 1)+' / '+pagination.pageCount}</p>
        </div>
        <nav class="col-sm-12" aria-label="Pagination">
            <ul class="pagination">
                <li class="page-item">
                    <button type="button" class="bg-success page-link" click.trigger="changePage($event, pagination.page - 1)" disabled.bind="pagination.page <= 0">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7071 4.29289C12.0976 4.68342 12.0976 5.31658 11.7071 5.70711L6.41421 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H6.41421L11.7071 18.2929C12.0976 18.6834 12.0976 19.3166 11.7071 19.7071C11.3166 20.0976 10.6834 20.0976 10.2929 19.7071L3.29289 12.7071C3.10536 12.5196 3 12.2652 3 12C3 11.7348 3.10536 11.4804 3.29289 11.2929L10.2929 4.29289C10.6834 3.90237 11.3166 3.90237 11.7071 4.29289Z" fill="#ffffff"/>
                        </svg>
                    </button>
                </li>
                <li class="page-item"><p class="page-link">${pagination.page + 1}</p></li>
                <li class="page-item">
                    <button type="button" class="bg-success  page-link"  click.trigger="changePage($event, pagination.page + 1)"  disabled.bind="pagination.page >= (pagination.pageCount-1)">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z" fill="#ffffff"/>
                        </svg>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    <div class="card mt-3" repeat.for="column of columns"  id.bind="column.id">
        <div class="card-header  row align-items-center">
            <div class="col-sm-8" innerHTML.bind="'Colonne-'+((column.order) ? column.order + 1 : 'en attente')"></div>
            <div class="col-sm-4">
                <div class="row align-items-center">
                    <div class="col  justify-content-end">
                        <button type="button" class="btn btn-primary  p-0" click.trigger="move($event, $index, 'up')" title="Monter" value.bind="$index" disabled.bind="$index == 0">
                            <svg width="24px"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 11L12 8M12 8L9 11M12 8V16M7.2 20H16.8C17.9201 20 18.4802 20 18.908 19.782C19.2843 19.5903 19.5903 19.2843 19.782 18.908C20 18.4802 20 17.9201 20 16.8V7.2C20 6.0799 20 5.51984 19.782 5.09202C19.5903 4.71569 19.2843 4.40973 18.908 4.21799C18.4802 4 17.9201 4 16.8 4H7.2C6.0799 4 5.51984 4 5.09202 4.21799C4.71569 4.40973 4.40973 4.71569 4.21799 5.09202C4 5.51984 4 6.07989 4 7.2V16.8C4 17.9201 4 18.4802 4.21799 18.908C4.40973 19.2843 4.71569 19.5903 5.09202 19.782C5.51984 20 6.07989 20 7.2 20Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                    <div class="col  justify-content-end">
                        <button type="button" class="btn btn-primary  p-0" title="Descendre" click.trigger="move($event, $index, 'down')" value.bind="$index" disabled.bind="$index == (columns.length - 1)">
                            <svg width="24px"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L12 16M12 16L15 13M12 16V8M7.2 20H16.8C17.9201 20 18.4802 20 18.908 19.782C19.2843 19.5903 19.5903 19.2843 19.782 18.908C20 18.4802 20 17.9201 20 16.8V7.2C20 6.0799 20 5.51984 19.782 5.09202C19.5903 4.71569 19.2843 4.40973 18.908 4.21799C18.4802 4 17.9201 4 16.8 4H7.2C6.0799 4 5.51984 4 5.09202 4.21799C4.71569 4.40973 4.40973 4.71569 4.21799 5.09202C4 5.51984 4 6.07989 4 7.2V16.8C4 17.9201 4 18.4802 4.21799 18.908C4.40973 19.2843 4.71569 19.5903 5.09202 19.782C5.51984 20 6.07989 20 7.2 20Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                    <div class="col  justify-content-end ">
                        <button type="button" class="btn btn-danger  p-0" title="Supprimer" click.trigger="delete($event, column.id, $index)" value.bind="$index">
                            <svg width="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <input
                        id.bind="'hidden-id-'+column.id"
                        value.bind="column.id"
                        type="hidden"
                        name.bind="'ImportConfig[tmpColumns]['+$index+'][id]'"
                />
                <input
                        id.bind="'hidden-order-'+column.id"
                        value.bind="column.order"
                        type="hidden"
                        name.bind="'ImportConfig[tmpColumns]['+$index+'][order]'"
                />
                <div class="col-sm--3 form-group p-2" validation-errors.from-view="column.sourceErrors">
                    <label class="form-label" for.bind="'source-'+column.id" id="labelSource">Colonne Source</label>
                    <select
                            class="form-control"
                            id.bind="'source-'+column.id"
                            value.bind="column.source & validate"
                            name.bind="'ImportConfig[tmpColumns]['+$index+'][source]'"
                            class.bind="column.sourceErrors.length ? 'error' : ''"
                            aria-describedby="labelSource"
                            aria-required="true"
                            aria-invalid.bind="column.sourceErrors.length ? 'true' : 'false'"
                            required
                    >
                        <option value="">Sélectionner une colonne source</option>
                        <option repeat.for="tableColumn of tableColumns"  value.bind="tableColumn.source">
                            ${tableColumn.target}
                        </option>
                    </select>
                    <p class="error-message" repeat.for="error of column.sourceErrors" id.bind="'column.sourceErrors'+column.id">${error.result.message}</p>

                </div>
                <div class="col-sm--3 form-group p-2" validation-errors.from-view="column.targetErrors">
                    <label class="form-label" for.bind="'target-'+column.id" id="labelTarget">Colonne cible</label>
                    <input
                        class="form-control"
                        id.bind="'target-'+column.id"
                        type="text"
                        name.bind="'ImportConfig[tmpColumns]['+$index+'][target]'"
                        value.bind="column.target & validate"
                        class.bind="column.targetErrors.length ? 'error' : ''"
                        aria-describedby="labelTarget"
                        aria-required="true"
                        aria-invalid.bind="column.targetErrors.length ? 'true' : 'false'"
                        required
                    />
                    <p class="error-message" repeat.for="error of column.targetErrors" id.bind="'column.targetErrors'+column.id">${error.result.message}</p>

                </div>
                <div class="col-sm--3 form-group p-2" validation-errors.from-view="column.typeErrors">
                    <label class="form-label"  for.bind="'type-'+column.id" id="labelType">Type de données</label>
                    <select
                        class="form-control"
                        id.bind="'type-'+column.id"
                        value.bind="column.type & validate"
                        name.bind="'ImportConfig[tmpColumns]['+$index+'][type]'"
                        class.bind="column.typeErrors.length ? 'error' : ''"
                        aria-describedby="labelType"
                        aria-required="true"
                        aria-invalid.bind="column.typeErrors.length ? 'true' : 'false'"
                        required
                    >
                        <option value="">Sélectionner un type de donnée</option>
                        <option value="pk">pk</option>
                        <option value="upk">upk</option>
                        <option value="bigpk">bigpk</option>
                        <option value="ubigpk">ubigpk</option>
                        <option value="char">char</option>
                        <option value="string">string</option>
                        <option value="text">text</option>
                        <option value="tinyint">tinyint</option>
                        <option value="smallint">smallint</option>
                        <option value="integer">integer</option>
                        <option value="bigint">bigint</option>
                        <option value="float">float</option>
                        <option value="double">double</option>
                        <option value="decimal">decimal</option>
                        <option value="datetime">datetime</option>
                        <option value="timestamp">timestamp</option>
                        <option value="time">time</option>
                        <option value="date">date</option>
                        <option value="binary">binary</option>
                        <option value="boolean">boolean</option>
                        <option value="money">money</option>
                        <option value="json">json</option>
                    </select>
                    <p class="error-message" repeat.for="error of column.typeErrors" id.bind="'column.typeErrors'+column.id">${error.result.message}</p>

                </div>
                <div class="col-sm--3 form-group p-2" validation-errors.from-view="column.defaultErrors">
                    <label class="form-label" for.bind="'default-'+column.id" id="labelDefault">Valeur par défaut</label>
                    <input
                        class="form-control"
                        id.bind="'default-'+column.id"
                        type="text"
                        name.bind="'ImportConfig[tmpColumns]['+$index+'][default]'"
                        value.bind="column.default & validate"
                        class.bind="column.defaultErrors.length ? 'error' : ''"
                        aria-describedby="labelDefault"
                        aria-required="true"
                        aria-invalid.bind="column.defaultErrors.length ? 'true' : 'false'"
                    />
                    <p class="error-message" repeat.for="error of column.defaultErrors" id.bind="'column.defaultErrors'+column.id">${error.result.message}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 items-end">
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-success" title="Ajouter" click.trigger="add($event)">
                <svg width="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 12H15" stroke="#198754" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 9L12 15" stroke="#198754" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#198754" stroke-width="2"/>
                </svg>
                <span>Ajouter</span>
            </button>
        </div>
    </div>
</div>

</template>