@tailwind utilities;
@tailwind components;

.error {
  border: 1px solid red !important;
}
.error-message {
  padding: 2px;
  color: red !important;
  font-size: 14px !important;
  font-weight: bold;
}